[submodule "externals/gaia-archive-tools"]
	path = externals/gaia-archive-tools
	url = https://github.com/mrsinho/gaia-archive-tools
[submodule "externals/shengine"]
	path = externals/shengine
	url = https://github.com/mrsinho/shengine
[submodule ".shci/shci"]
	path = .shci/shci
	url = https://github.com/mrsinho/shci
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
